---
import type { CourseItem } from '../../types';
import Course from './Course.astro';

export interface Props {
  semester: string;
  courses: CourseItem[];
}

const { semester, courses } = Astro.props;
---

<h2 class="mt-8">{semester}</h2>
<ul class="list-disc space-y-1 pl-8">
  {courses.map((course) => <Course course={course} />)}
</ul>
