---
import type { CourseItem } from '../../types';

export interface Props {
  course: CourseItem;
}

const { course } = Astro.props;
---

<li>
  <a href={course.url} target="_blank">
    {course.code}: {course.name}
  </a>
</li>
