---
import Section from '../Section.astro';
---

<Section title="About Me">
  <p class="text-important">
    Hi! I am Anthony and I am a first-year at the Massachusetts Institute of
    Technology, studying Computer Science and Mathematics.
  </p>
</Section>
