---
import type { SocialItem } from '../../types';

export interface Props {
  social: SocialItem;
}

const { social } = Astro.props;
const Icon = social.icon;
---

<a
  href={social.url}
  target="_blank"
  aria-label={social.name}
  class="inline-flex items-center justify-center"
>
  <Icon size={32} aria-hidden="true" />
</a>
