@import 'tailwindcss';

@theme {
  --color-background: #0d0d0d;
  --color-text: #f2f2f2;
  --color-accent-blue: #a5c9ff;
  --color-accent-green: #a5ffc9;
  --color-gradient-start: #c9cdef;
  --color-gradient-end: #1360d6;
}

@layer base {
  body {
    @apply bg-[var(--color-background)] font-sans text-[var(--color-text)];
  }
}

@utility centered-container {
  @apply mx-auto max-w-screen-lg space-y-4 p-4;
}

@utility gradient {
  @apply bg-gradient-to-r from-[var(--color-gradient-start)] to-[var(--color-gradient-end)];
}

@utility text-gradient {
  @apply gradient bg-clip-text text-transparent;
}

@utility center-horizontally {
  @apply flex justify-center;
}

@utility center-vertically {
  @apply flex items-center;
}

@utility center-all {
  @apply flex items-center justify-center;
}

@utility navbar-bottom {
  @apply absolute bottom-0;
}

@utility navbar-top {
  @apply fixed top-0 border-b border-slate-700 bg-slate-900;
}
