@import 'tailwindcss';

@theme {
  --color-background: #121212;
  --color-text: #f2f2f2;
  --color-border: rgba(165, 201, 255, 0.25);

  --color-hero: #0d0d0d;
  --color-footer: #1a1a1f;

  --color-accent-blue: #a5c9ff;

  --color-gradient-start: #c9cdef;
  --color-gradient-end: #1360d6;

  --color-text-secondary: #9ca3af;
  --color-text-muted: #7d8289;
}

@layer base {
  body {
    @apply flex min-h-screen flex-col bg-[var(--color-hero)] font-sans text-[var(--color-text)] print:text-black;
  }

  header {
    @apply bg-[var(--color-hero)];
  }

  main {
    @apply flex-1 bg-[var(--color-background)] p-6;
  }

  main:not(.home-main) {
    @apply mt-8;
  }

  footer {
    @apply border-t  border-[var(--color-border)] bg-[var(--color-footer)] p-6;
  }

  h1 {
    @apply text-gradient text-4xl font-extrabold;
  }

  h2 {
    @apply text-xl font-bold;
  }

  p {
    @apply text-lg;
  }

  a {
    @apply text-hover text-lg;
  }

  ul {
    @apply mt-2 list-disc space-y-1 pl-8;
  }
}

@utility centered-container {
  @apply mx-auto max-w-screen-lg space-y-4 p-4;
}

@utility gradient {
  @apply bg-gradient-to-r from-[var(--color-gradient-start)] to-[var(--color-gradient-end)];
}

@utility text-gradient {
  @apply gradient bg-clip-text text-transparent print:text-black;
}

@utility text-hover {
  @apply transition-colors duration-300 hover:text-[var(--color-accent-blue)];
}

@utility center-horizontally {
  @apply flex justify-center;
}

@utility center-vertically {
  @apply flex items-center;
}

@utility center-all {
  @apply flex items-center justify-center;
}

@utility navbar-bottom {
  @apply absolute bottom-0 bg-[var(--color-hero)];
}

@utility navbar-top {
  @apply fixed top-0 border-b border-[var(--color-border)] bg-[var(--color-background)];
}
