---
import Section from '../Section.astro';
import SkillCollection from './SkillCollection.astro';
import {
  SiAstro,
  SiC,
  SiCplusplus,
  SiCss,
  SiGit,
  SiHtml5,
  SiJavascript,
  SiNextdotjs,
  SiNodedotjs,
  SiOpenjdk,
  SiPython,
  SiReact,
  SiRust,
  SiAssemblyscript,
  SiSvelte,
  SiTailwindcss,
  SiTypescript
} from 'react-icons/si';
import type { SkillItem } from '../../types';

const languages: SkillItem[] = [
  {
    name: 'Python',
    icon: SiPython,
    color: '#3776AB',
    year: 2019
  },
  {
    name: 'HTML',
    icon: SiHtml5,
    color: '#E34F26',
    year: 2020
  },
  {
    name: 'CSS',
    icon: SiCss,
    color: '#1572B6',
    year: 2020
  },
  {
    name: 'JavaScript',
    icon: SiJavascript,
    color: '#F7DF1E',
    year: 2020
  },
  {
    name: 'Java',
    icon: SiOpenjdk,
    color: '#ED8B00',
    year: 2020
  },
  {
    name: 'C++',
    icon: SiCplusplus,
    color: '#00599C',
    year: 2022
  },
  {
    name: 'TypeScript',
    icon: SiTypescript,
    color: '#3178C6',
    year: 2022
  },
  {
    name: 'C',
    icon: SiC,
    color: '#A8B9CC',
    year: 2023
  },
  {
    name: 'Rust',
    icon: SiRust,
    color: '#DEA584',
    year: 2025
  },
  {
    name: 'Assembly',
    icon: SiAssemblyscript,
    color: '#007ACC',
    year: 2025
  }
];

const frameworks: SkillItem[] = [
  {
    name: 'Node.js',
    icon: SiNodedotjs,
    color: '#5FA04E',
    year: 2021
  },
  {
    name: 'React',
    icon: SiReact,
    color: '#61DAFB',
    year: 2021
  },
  {
    name: 'Next.js',
    icon: SiNextdotjs,
    color: '#000000',
    year: 2021
  },
  {
    name: 'TailwindCSS',
    icon: SiTailwindcss,
    color: '#06B6D4',
    year: 2022
  },
  {
    name: 'Astro',
    icon: SiAstro,
    color: '#FF5D01',
    year: 2022
  },
  {
    name: 'Svelte',
    icon: SiSvelte,
    color: '#FF3E00',
    year: 2023
  }
];

const tools: SkillItem[] = [
  {
    name: 'Git',
    icon: SiGit,
    color: '#F05032',
    year: 2020
  }
];
---

<Section title="Skills">
  <SkillCollection name="Languages" skills={languages} />
  <SkillCollection name="Frameworks" skills={frameworks} />
  <SkillCollection name="Tools" skills={tools} />
</Section>
