---
import { Icon } from 'astro-icon';
import type { SkillItem } from '../../types';

export interface Props {
  skill: SkillItem;
}

const { skill } = Astro.props;
---

<div class="text-center">
  <Icon class="m-auto h-16" name={skill.icon} />
  <h2>{skill.name}</h2>
  <p>{skill.year}</p>
</div>
