---
import Layout from '../layouts/Layout.astro';
import AboutMe from '../components/about-me/AboutMe.astro';
import Footer from '../components/footer/Footer.astro';
import Header from '../components/header/Header.astro';
import Projects from '../components/projects/Projects.astro';
import Skills from '../components/skills/Skills.astro';
---

<Layout title="Anthony Chen">
  <Header />

  <main class="bg-slate-900 p-6">
    <AboutMe />
    <Skills />
    <Projects />
  </main>

  <Footer />
</Layout>
