---
import Social from './Social.astro';
import type { SocialType } from '../../types';

const socials: SocialType[] = [
  {
    name: 'GitHub',
    url: 'https://github.com/achen318',
    icon: 'mdi:github'
  },
  {
    name: 'LinkedIn',
    url: 'https://www.linkedin.com/in/achen318/',
    icon: 'mdi:linkedin'
  }
];
---

<header class="center-vertically centered-container h-screen">
  <div class="space-y-4">
    <h1
      class="text-gradient text-center text-7xl font-bold tracking-tighter md:text-left"
    >
      Anthony Chen
    </h1>

    <div class="center-horizontally gap-2 md:justify-start">
      {socials.map((social: SocialType) => <Social social={social} />)}
    </div>

    <p class="text-center text-2xl md:text-left">
      Hello! I am a rising sophomore at MIT studying CS (+ Math). I love
      exploring all things CS, ranging from web development to systems.
    </p>
  </div>
</header>
