<header class="center h-screen gap-16 mx-auto max-w-screen-lg space-y-4 p-4">
  <!-- Image -->
  <div class="h-64 w-64 rounded-md bg-[#ddeeff]"></div>

  <div class="space-y-4">
    <!-- Name -->
    <h1 class="text-gradient text-7xl font-bold tracking-tighter">
      Anthony Chen
    </h1>

    <!-- Icons -->
    <div class="flex items-center gap-2">
      <!-- GitHub Icon -->
      <a href="https://github.com/achen318" target="_blank" aria-label="GitHub">
        <svg
          class="h-5 w-5 fill-current"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
        >
          <path
            d="M12 .5C5.73.5.5 5.74.5 12c0 5.08 3.29 9.38 7.86 10.91.58.1.79-.25.79-.56 0-.28-.01-1.02-.01-2-3.2.7-3.88-1.54-3.88-1.54-.52-1.32-1.28-1.67-1.28-1.67-1.04-.71.08-.7.08-.7 1.15.08 1.75 1.18 1.75 1.18 1.02 1.76 2.68 1.25 3.34.96.1-.74.4-1.25.72-1.54-2.55-.29-5.23-1.27-5.23-5.63 0-1.24.44-2.26 1.17-3.06-.12-.29-.51-1.45.11-3.02 0 0 .96-.31 3.15 1.17a10.95 10.95 0 012.87-.39c.97.01 1.94.13 2.87.39 2.18-1.48 3.14-1.17 3.14-1.17.63 1.57.24 2.73.12 3.02.73.8 1.16 1.82 1.16 3.06 0 4.37-2.69 5.33-5.25 5.61.42.36.77 1.08.77 2.17 0 1.57-.01 2.83-.01 3.22 0 .31.2.66.8.55C20.71 21.38 24 17.08 24 12c0-6.26-5.23-11.5-12-11.5z"
          ></path>
        </svg>
      </a>
      <!-- LinkedIn Icon -->
      <a href="https://linkedin.com/in/achen318" target="_blank" aria-label="LinkedIn">
        <svg
          class="h-5 w-5 fill-current"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
        >
          <path
            d="M4.98 3.5a2.5 2.5 0 11.01 5.01A2.5 2.5 0 014.98 3.5zM3 8.98h3.96v11.5H3V8.98zM9.03 8.98h3.78v1.56h.05c.53-1 1.82-2.06 3.75-2.06 4.01 0 4.75 2.63 4.75 6.05v6.95h-3.95v-6.15c0-1.47-.03-3.35-2.04-3.35-2.04 0-2.35 1.59-2.35 3.23v6.27H9.03V8.98z"
          ></path>
        </svg>
      </a>
    </div>

    <!-- Biography -->
    <p class="text-2xl">
      Hello! I am a rising sophomore at MIT studying CS (+ Math). I love
      exploring all things CS, ranging from web development to systems.
    </p>
  </div>
</>
