---
import type { NavItem } from '../../types';
import { Icon } from 'astro-icon';

const navItems: NavItem[] = [
  { name: 'Skills', href: '#skills' },
  { name: 'Projects', href: '#projects' }
];
---

<nav id="navbar" class="navbar-bottom w-full px-8 py-4">
  <div class="center-vertically w-full justify-between">
    <!-- Name -->
    <a href="/" class="text-gradient text-2xl font-bold">Anthony Chen</a>

    <!-- Desktop Navigation -->
    <span class="hidden sm:inline">
      {
        navItems.map((item) => (
          <a href={item.href} class="text-hover mx-2 text-lg font-medium">
            {item.name}
          </a>
        ))
      }
    </span>

    <!-- Mobile Menu Button -->
    <Icon
      id="hamburger"
      name="mdi:menu"
      class="size-8 sm:hidden cursor-pointer"
      aria-label="Open mobile menu"
    />
    <Icon
      id="close"
      name="mdi:close"
      class="size-8 hidden cursor-pointer"
      aria-label="Close mobile menu"
    />
  </div>

  <!-- Mobile Navigation -->
  <div id="mobile-menu" class="mt-4 hidden flex-col space-y-4 text-center">
    {
      navItems.map((item) => (
        <a
          href={item.href}
          class="mobile-nav-link text-hover mx-2 text-lg font-medium"
        >
          {item.name}
        </a>
      ))
    }
  </div>
</nav>

<script>
  const navbar = document.getElementById('navbar');
  const hamburger = document.getElementById('hamburger');
  const close = document.getElementById('close');
  const mobileMenu = document.getElementById('mobile-menu');
  const mobileNavLinks = document.querySelectorAll('.mobile-nav-link');
  const scrollIndicator = document.getElementById('scroll-indicator');

  function openMobileMenu() {
    navbar!.classList.add('border-t', 'border-slate-700');
    mobileMenu!.classList.add('flex');
    mobileMenu!.classList.remove('hidden');
    hamburger!.classList.add('hidden');
    close!.classList.remove('hidden');
    scrollIndicator!.classList.add('hidden');
  }

  function closeMobileMenu() {
    navbar!.classList.remove('border-t', 'border-slate-700');
    mobileMenu!.classList.remove('flex');
    mobileMenu!.classList.add('hidden');
    hamburger!.classList.remove('hidden');
    close!.classList.add('hidden');
    scrollIndicator!.classList.remove('hidden');
  }

  // Toggle navbar between top and bottom
  document.addEventListener('scroll', () => {
    if (!navbar) return;

    const withinHero =
      window.scrollY < window.innerHeight - navbar.offsetHeight;

    navbar.classList.toggle('navbar-top', !withinHero);
    navbar.classList.toggle('navbar-bottom', withinHero);
  });

  // Toggle mobile menu visibility
  if (navbar && hamburger && close && mobileMenu && scrollIndicator) {
    hamburger.addEventListener('click', openMobileMenu);
    close.addEventListener('click', closeMobileMenu);

    // Close when a link is clicked
    mobileNavLinks.forEach((link) => {
      link.addEventListener('click', closeMobileMenu);
    });

    // Close when the window is clicked outside the menu
    document.addEventListener('click', (event) => {
      if (
        !navbar.contains(event.target as Node) &&
        !mobileMenu.contains(event.target as Node)
      ) {
        closeMobileMenu();
      }
    });
  }
</script>
