---
import Section from './Section.astro';
---

<Section title="About Me">
  <p class="text-important">
    I am Anthony and I am a rising freshman at the Massachusetts Institute of Technology.
  </p>
  <br />
  <p class="text-important">
    I am an avid learner. As of now, I mostly do Leetcode and web development.
  </p>
</Section>
