---
import Section from './Section.astro';
---

<Section title="About Me">
  <p class="text-important">
    I am Anthony and I am a junior at Stuyvesant High School.
  </p>
  <br />
  <p class="text-important">
    I am an avid learner. As of now, I mostly do web development.
  </p>
</Section>
