<header class="flex h-screen items-center justify-center bg-black">
  <h1
    class="text-gradient text-center text-7xl font-extrabold tracking-tighter text-white"
  >
    Anthony Chen
  </h1>
</header>
