---
export interface Props {
  title: string;
  id: string;
}

const { title, id } = Astro.props;
---

<section {id} class="centered-container">
  <h1 class="text-gradient p-8 text-center text-5xl font-extrabold">{title}</h1>
  <slot />
</section>
