---
const currentYear = new Date().getFullYear();
---

<footer class="center-all h-32 border-t border-[var(--color-border)]">
  <p class="text-base">
    © {currentYear} Anthony Chen. Last updated on <a
      href="https://github.com/achen318/achen318.github.io"
      target="_blank"
      class="text-base"
    >
      2025-07-30</a
    >.
  </p>
</footer>
