---
const currentYear = new Date().getFullYear();
---

<footer class="center-all h-32">
  <p class="text-center text-base">
    © {currentYear} Anthony Chen. Last updated on <a
      href="https://github.com/achen318/achen318.github.io"
      target="_blank"
      class="text-base"
    >
      2026-03-11</a
    >.
  </p>
</footer>
